<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125129192492-h08n5vmk2pek7csgsjqdeeeuetpckaee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125129192492-h08n5vmk2pek7csgsjqdeeeuetpckaee</string>
	<key>API_KEY</key>
	<string>AIzaSyBg7OBc2nuoSqLL5Muq5PN1Cq52SaW-AEs</string>
	<key>GCM_SENDER_ID</key>
	<string>125129192492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>packovv.vk</string>
	<key>PROJECT_ID</key>
	<string>vk-app-9d441</string>
	<key>STORAGE_BUCKET</key>
	<string>vk-app-9d441.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125129192492:ios:a0007d6d7ed7104c52cd89</string>
</dict>
</plist>